# ビルド結果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Ll]ogFiles/

# Visual Studioフォルダ
.vs/

# ユーザー固有のファイル
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# フォルダー設定ファイル
Desktop.ini

# VS Codeディレクトリ
.vscode/
.history/

# 自動生成ファイル
!*.pem

# NuGetパッケージ
*.nupkg
*.nuspec

# コンパイル済みPDBファイル
*.pdb

# レガシーディレクトリ
legacy/
backup/
_backups/

# Ember.js
.dist/
tmp/


